mixin platform(platform)
  if platform == 'iOS'
    i.ion-social-apple(style='font-size: 28px; line-height: 18px; color: #95a5a6;')
    | 
    span(style='font-size: 10px; color: #7f8c8d; font-weight: bold;') iOS
  else if platform == 'Android'
    i.ion-social-android(style='font-size: 28px; line-height: 18px; color: #99CC00;')
    | 
    span(style='font-size: 10px; color: #99CC00; font-weight: bold;') ANDROID
  else if platform == 'Web'
    i.ion-ios7-world(style='font-size: 28px; line-height: 18px; color: #2980b9;')
    | 
    span(style='font-size: 10px; color: #3498db; font-weight: bold;') WEB
  else
    | -