.dropdown-arrow-inverse {
  border-bottom-color: #2c3e50 !important;
  border-top-color: #2c3e50 !important;
}
html,
body {
  font-family: 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif;
}
.container {
  min-width: 970px !important;
}
h1 {
  font-weight: 100;
}
body > div.container {
  min-height: 600px;
}
footer p {
  font-size: 8pt;
}
.preview {
  border: #4a4a4a 10px solid;
  border-radius: 10px;
}
.preview.iphone5 {
  width: 320px;
  height: 568px;
  overflow: auto;
}
.stand div {
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  color: #89a;
}
.stand div:hover {
  -webkit-transform: translate3d(0, -5px, 0);
  color: #369;
}
.stand div i {
  font-size: 32px;
}
.stand div i small {
  font-size: 12px;
}
img.typekit-badge {
  display: none !important;
}
.textarea-summernote {
  height: 500px;
}
div.note-editor button.btn {
  color: #34495e;
  background-color: #fff;
  border: solid #e4e4e4 1px;
}
div.note-editor .btn-group > .btn {
  border: solid #e4e4e4 1px;
  border-right: 0;
}
div.note-editor span.caret {
  border-top-color: #587ca0;
  border-width: 5px 5px;
}
#document {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
}
#document .document-content ol,
#document .document-content ul {
  line-height: 18pt;
}
#document .document-menu {
  -webkit-box-shadow: inset -2px 0 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset -2px 0 10px 0px rgba(0, 0, 0, 0.05);
}
#document .document-menu a {
  display: block;
}
#document .document-menu a.active {
  color: #f39c12;
}
#document .document-menu h6 a {
  color: #34495e;
}
#document .document-menu h6 a:hover {
  color: #e67e22;
}
#previewFrame {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  border: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.cursor-zoom-in {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.cursor-text {
  cursor: text;
}
