html,
body {
  background-color: #3a3a3a;
}
div.list.card {
  background-color: #4a4a4a;
}
.item-avatar {
  border-color: #333;
  background-color: #4a4a4a;
}
.item-avatar h2 {
  color: #f0f0f0;
}
.item-avatar p {
  color: #d4d4d4;
}
.item-content {
  border-color: #333;
  background-color: #555 !important;
  color: #fff;
}
.item-content p,
.item-content span,
.item-content small,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6 {
  color: #fff;
}
a {
  color: #8cb2d9;
}
