extends ../layout

block inner-content
  br
  include ../navigation
  h6 이유
  h6 기록되는 활동들
  h6 활동기록 확인하기
  p
    | 
    //- img(src='http://lvh.me:3010/v1/users/1/apps/2/messages/what-is-ip-1', style='width: 50%;')
  br
  include ../navigation