extends ../layout

block inner-content
  br
  include ../navigation
  h6 새로 만들기
  br
  p 1. 이메일로 회원가입을 합니다. 비밀번호는 충분히 암호화하여 저장됩니다.
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/account-2')
  
  br 
  p 2. 로그인 합니다. 비밀번호가 계속 틀릴 경우 활동기록에 남으니 주의바랍니다.
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/account-1')

  br 
  p 3. 로그인하면 프로필 페이지로 이동합니다.
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/account-3')

  br
  include ../navigation