extends ../layout

block inner-content
  br
  include ../navigation
  
  h6 API, Application Programming Interface
  p
    | 계정에 로그인하여 쓰리썸플레이스 웹사이트를 이용하는 것과 달리, 
    | 내부에서 설정한 게시판과 메시지등의 컨텐츠를 외부(앱, 서버, 브라우저)에서 이용하는 경우
    | 고유링크의 방문수와 API 요청수가 이용량이 집계됩니다.
  br
  h6 사용량 확인하기
  p
    | 오른쪽 위에 (프로필 페이지) 
    strong 계정 정보 > 사용량 
    | 에서 확인할 수 있습니다. 무료 플랜 사용량을 넘으면 연락 후 더 높은 용량으로 설정해드립니다.
    br
    img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/account-4')
    //- img(src='http://lvh.me:3010/v1/users/1/apps/2/messages/what-is-ip-1', style='width: 50%;')
  br
  include ../navigation