extends ../layout

block inner-content
  br
  include ../navigation
  h6 새로 만들기
  p
    strong 앱 서비스 > 새로운 앱 추가하기
    | 를 눌러 이름을 입력합니다.
  ul
    li 이름은 구별하기 위한 항목입니다.
    li 플랫폼은 구별하기 위한 항목입니다.
    li 식별자는 앱의 고유한 문자열입니다. 인증서 또는 앱의 ID나 패키지명을 이용하면 됩니다.
    li 플랫폼과 식별자가 중복될 수 없습니다. 다른 플랫폼에 같은 식별자는 허용됩니다.
    li 아이콘 바꾸기는 지원 예정입니다.
  
  br
  include ../navigation