extends ../layout

block inner-content
  br
  h1 앱 서비스
  p
    | 앱 서비스는 이름, 플랫폼, 식별자(고유아이디) 정보를 가지고 있습니다. 기본적으로 모든 게시판과 메시지는 포함된 앱을 선택해야합니다. 이는, 앱 마다 설정값등을 지정할때 관리적 편의가 있고, 똑같은 앱이지만 다른 플랫폼에 들어갈 아이템(예, 안드로이드와 아이폰 동시 이벤트)을 편집할 때 혼동을 방지합니다.
  br
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/apps-1')
  br
  include ../navigation