extends ../layout

block inner-content
  br
  include ../navigation
  h6 필요성
  p
    | 검수중
  br
  h6 지원하는 약관들
  ul
    li 서비스이용약관
    li 최종사용자라이선스동의, End-user License Agreement
    li 개인정보보호약관, Privacy Policy
    li 위치정보사업자약관, LBS Policy
  br
  include ../navigation