extends ../layout

block inner-content
  br
  include ../navigation
  h6 필요성
  p
    | 검수중
  br
  h6 지원하는 플랫폼
  ul
    li iOS
    li Android
    li AJAX request
    li HTTP request
  br
  include ../navigation