extends ../layout

block inner-content
  br
  include ../navigation
  h6 계획 세우기
  p
    | 검수중
  br
  h6 고유 링크 이용하기
  p
    | 검수중
  br
  h6 API 이용하기
  p
    | 검수중
  br
  h6 테스트
  p
    | 검수중
  br
  include ../navigation