extends ../layout

block inner-content
  br
  h1 게시판
  p
    | 게시판은 이름, 연결된 앱, 테마, 여러 개의 게시글들을 포함합니다.
  br
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/board-1')
  br
  include ../navigation