extends ../layout

block inner-content
  br
  include ../navigation
  h6 왼쪽
  p 본문을 편집하는 곳입니다. 미리보기를 누르면 오른쪽에 반영합니다.
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/post-left')
  br
  
  h6 오른쪽
  p 미리보기가 보이는 곳입니다. 테마를 바꾸려면 게시판 수정에서 가능합니다.
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/post-right')
  br

  h6 계획하기
  p
    | 검수중
  br
  h6 내용 구성하기
  p
    | 검수중
  br
  h6 디자인 템플릿 이용하기
  p
    | 검수중
  br
  br
  include ../navigation