extends ../layout

block inner-content
  br
  include ../navigation
  h6 필요성
  p
    | 검수중
  br
  h6 예약 시간 입력하기
  p 게시글 수정 페이지에서 예약일을 입력하면 됩니다. 지금 시각과 같거나, 이미 지난 경우 게시물을 즉시 공개됩니다. 새로 만들어진 게시글은 기본 24시간 후로 설정되어 있습니다. 
    code YYYY-MM-DD HH:ii:ss 
    | 형식으로 입력해야합니다. (0~24시)
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/post-scheduled')
  br
  br
  include ../navigation