extends ../layout

block inner-content
  br
  include ../navigation
  h6 이용 방법
  ol
    li 계정 만들기
    li 앱 서비스를 등록하기
    li 공지사항 게시판을 추가하기
    li 게시글을 올리기
    li 게시판 주소와 API로 제품에 이용하기
    li 메시지를 추가하기
    li 메시지 주소와 API로 제품에 적용하기
    li 게시글을 예약하여 올리기
    li '점검중' 메시지를 다국어 지원하기
  p 기본적으로 서비스의 모든 페이지는 
    strong 도움말 없이 이용 가능하도록  
    | 간단한 모습으로 제작되었습니다. 경우에 따라 페이지 마다 우측 또는 하단에 연관된 문서가 있으니, 자세한 설명을 참고해주세요.
  br
  include ../navigation