extends ../layout

block inner-content
  br
  include ../navigation
  h6 이용 방법
  ol
    li 이메일 주소로 계정을 만듭니다.
    li 앱 이름, 플랫폼, 식별자를 입력하여 앱 서비스를 등록합니다.
    li 선택한 앱에 게시판을 추가합니다.
    li 게시판에 게시글을 올립니다.
    li 앱에 게시판 주소를 적용합니다.
    li 선택한 앱에 제공하고 싶은 메시지를 추가합니다.
    li 메시지 API로 앱에 적용합니다.
    li 미리 적어놓은 게시글이 내일 올라가도록 예약합니다.
    li '점검중' 메시지를 다국어 지원하여 제공합니다.
  p 기본적으로 모든 서비스는 
    strong 도움말 없이 이용 가능하도록  
    | 노력하고 있습니다. 자세한 내용이 필요한 페이지는 우측 또는 하단에 연관된 문서가 있으니 참고해주세요.
  br
  include ../navigation