extends ../layout

block inner-content
  br
  include ../navigation

  h6 가격 정책
  ul
    li 현재 베타 서비스 기간이므로 무료로 운영되고 있습니다. 
    li 추 후, 실제 사용량에 따른 Pay-as-you-go 또는 API Volume 과금을 계획하고 있습니다.  
    li 현재 비영리 앱과 사용자수(DAU)가 3천명 이하인 앱은 무료로 이용 가능하도록 계획하고 있습니다. 
    li 현재 기업회원의 커스텀 디자인(브랜딩)과 독립 도메인, 개별 데이터베이스 구축 의뢰를 받고 있습니다.

  h6 사용자이용약관, EULA
  h6 개인정보보호약관, Privacy & Security


  br
  include ../navigation