extends ../layout

block inner-content
  br
  include ../navigation

  h6 API v1.0 보안
  p 현재 인증이 필요한 API가 없습니다. OAuth 2.0 표준을 따릅니다.
  
  h6 서버 보안
  p 
    | 서비스는 IDC내 가상서버에서 운영중입니다. 
    | 모든 데이터는 적합성을 판단하여 제공하고 있지만, 보안을 필요로 하는 데이터는 저장하지 않기를 권장합니다.
    | 무차별대입공격(brute force attack)에 대해서 자체적인 서비스 거부 정책을 가지고 있습니다.
    | OpenAPI가 아님에도 본인(자사)의 API를 타사(알려지지 않은 도메인)가 허가없이 지속적으로 이용하는 경우 사용자에게 알림을 드리고, 요청시 트래픽 차단을 해드립니다.

  h6 계정 보안
  p
    | 비밀번호 평문을 알수없게 충분히 암호화하여 저장하고 있습니다.
    | 현재 입력받고 있지 않는 기타 개인정보(연락처,가상계좌정보,입금자명) 또한 암호화될 예정입니다.
    | '고객으로부터 질문답변을 받는 서비스'를 운영한다면 고객정보는 데이터마스킹(data masking)을 거칩니다. 개인정보의 기술적·관리적 보호조치 기준의 제9조(개인정보 표시 제한 보호조치)를 따릅니다.
    | 계정에 대한 비정상적인 접근 또는 컨텐츠를 삭제하는 요청을 모두 활동기록에 남깁니다. 기업회원의 경우 이중삭제처리(two-way deletion)을 제공 준비중입니다.

  br
  include ../navigation