extends ../layout

block inner-content
  br
  include ../navigation

  hr
  h6 App Store 이용사례
  p 집계중

  hr
  h6 Google Play Store 이용사례
  p 집계중

  hr
  h6 Web-based 이용사례
  p 집계중

  br
  include ../navigation