extends ../layout

block inner-content
  br
  h1 메시지
  p
    | 메시지는 텍스트, JSON, URL을 담은 관리가능한(configurable) 데이터 단위입니다. 
  p
    | 아래의 이미지 주소도 쓰리썸플레이스의 메시지입니다. 
    br
    | 링크 주소는 
    code http://threesomeplace.com/v1/users/9/apps/5/messages/message-01
    | 이지만, 
    br
    | 접속을 해보면 
    code http://threesomeplace.com/v1/users/9/apps/5/files/1397099622831
    | 으로 리다이렉트됩니다.
  br
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/message-01')
  br
  br
  include ../navigation