extends ../layout

block inner-content
  br
  include ../navigation
  h6 팝업 메시지란?
  p
    | 검수중
  br
  h6 메시지 설계
  p
    | 검수중

  br
  h6 1. 프로토콜 설정
  p 식별자를 변경하여 실제로 URL에 표시될 이름을 정합니다. 중복될 수 없습니다.
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/message-02')
  
  br
  h6 2. 메시지 등록
  ul
    li 텍스트를 입력하면 원문을 보내줍니다.
    li UTF8로 인코딩된 문자열이면 특정 포맷(JSON, XML) 제한이 없습니다.
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/message-03')
  
  br
  h6 테스트
  p
    | 검수중
  br
  include ../navigation