extends ../layout

block inner-content
  br
  include ../navigation
  h6 관리 가능한 이미지란?
  p
    | 검수중
  br
  h6 메시지 설계
  p
    | 검수중
  br
  h6 1. 프로토콜 설정
  p 식별자를 변경하여 실제로 URL에 표시될 이름을 정합니다. 중복될 수 없습니다.
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/message-04')
  
  br
  h6 2. 메시지 등록
  ul
    li URL 형식을 입력하면 해당 URL로 리다이렉트(302 Found, Moved Temporarily)합니다. 
    li (최대 1MB) 파일을 업로드하는 경우 쓰리썸플레이스 서버에 업로드하여 URL을 채웁니다. 
    li 안정적인 컨텐츠 공급을 위해 CDN에 디플로이된 URL을 권장합니다.
  img(src='http://threesomeplace.com/v1/users/9/apps/5/messages/message-05')
  br
  h6 테스트
  p
    | 검수중
  br
  include ../navigation