li.item.item-icon-left.item-trigger.item-preview.hide
  i.icon.ion-ios7-arrow-forward
  span.item-preview-title 
  span.item-note 
li.item.item-content.item-preview-content.hide

li.item.item-icon-left.item-trigger.item-active
  i.icon.ion-ios7-arrow-forward
  span 멋쟁이 공지사항을 위한 스타일 예제!
  span.item-note #{moment().format('MM/DD')}
li.item.item-content
  | 안녕하세요. 함께 멋진 공지사항을 올려볼까요?
  br
  br
  strong 첫번째, 
  | 모든 HTML 이용 가능합니다. 왼쪽에 두껍게 표시되어있죠?
  | 
  br
  strong 두번째, 
  | 테마 색깔이 
  a(href='<a href="주소">링크</a>') 링크 주소에 적용됩니다.
  br
  br
  strong 세번째, 
  | 정렬을 위한 클래스가 준비되어있구요.
  br
  div.align-left
    | 왼손
  | 
  div.align-center
    | 가운데 손
  | 
  div.align-right
    | 오른손
  br
  br
  br
  strong 네번째, 
  | 바로 쓸 수 있는 버튼들이 있어요 ~
  br
  br
  a.button.button-light .button-light
  br 
  br
  a.button.button-stable .button-stable
  br 
  br
  a.button.button-positive .button-positive
  br 
  br
  a.button.button-calm .button-calm
  br 
  br
  a.button.button-balanced .button-balanced
  br 
  br
  a.button.button-energized .button-energized 
  br 
  br
  a.button.button-assertive .button-assertive 
  br 
  br
  a.button.button-royal .button-royal 
  br 
  br
  a.button.button-dark .button-dark 
  br 
  br
  a.button.button-positive.button-block .button-block
  br
  a.button.button-positive.button-outline .button-outline
  br 
  br
  a.button.button-positive.button-clear .button-clear
  br 
  br
  strong 다섯번째, 
  | 새로운 디자인은 계속계속 추가됩니다!
  br
  br
  div.button-bar
    a.button.button-light 응모하기
    a.button.button-light 친구에게 알리기
  br
  br
  a.button.button-assertive.button-block 쿠폰 입력하기