extends ../layout

block content
  div.container(style="text-align:center;")
    div.palette.palette-alizarin
      p 아이폰에는 헤더 넣기
      p 아이폰 플랫 껍데기 가져오기
      p 아이패드 테마 지원
      p 안드로이드 넥서스 플랫 껍데기 가져오기
      p 안드로이드에는 탭바 넣기
    a(href=url) http://threesomeplace.com#{url}
    br 
    iframe.preview.iphone5(src=url)