extends layout

block inner-content
  br
  h1 개발자 문서
  p
    | 쓰리썸플레이스는 개발자가 개발자를 편하게 하기 위해 만들었습니다. 
    | 대부분의 기능은 웹페이지에서 UI를 제공하지만 일부 기능은 API와 같이 개발자가 필요에 따라 문서를 참고해야합니다. 
    | 다국어 지원을 하고싶거나, Native UI에 서비스를 이용하고 싶다면 해당 문서를 꼭 읽어주세요. 
    | 앞으로 개발 외적인 도움이 되는 글(예로들면, 좋은 공지사항이 되기 위한 방법들)도 올릴 예정입니다.
  
  br
  h6 서비스의 대상
  ul
    li 아이폰, 안드로이드등 모바일 개발자
    li 스튜디오, 회사등의 중소규모 개발자 그룹
    li 웹사이트를 운영하는 개발자
    li 서비스 마케팅을 담당하는 컨텐츠 관리자
  
  br
  h6 서비스의 주요 기능
  ul
    li 공지사항, FAQ와 같은 목록형 게시판을 바로 끌어다 쓸 수 있음
    li 사용자에게 제공하는 메시지를 플랫폼/언어별로 실시간 관리 가능
    li 앱에 있는 배너 이미지를 이벤트등으로 바꿔야 할 경우, 플랫폼/언어별로 실시간 관리 가능
    li 리소스 파일에 대한 고유링크를 관리하여 앱 컨텐츠(게임, 지도, 아이템)를 안전하게 업데이트 가능함
    li 
      a(href='/support') 의견을 받아 계속 추가됩니다.

  br
  h6 철학
  p
    | 여러 앱을 개발하다보면 공통적으로 필요한 부분이 생깁니다. 
    | 처음엔 단순히 코드의 중복, 개발 생산성의 문제라고 생각하지만 결국 유지보수와 추후 관리의 어려움을 깨닫습니다.
    | 대단한 기술은 자체적으로 만들고 관리함이 옳지만, 누구나 만들 수 있는 간단한 부분(게시판)은 적은 비용으로 빨리 끌어다 쓰는게 현명합니다.
    br
    br
    blockquote
      | 요즘 트랜디하고 섹시한 플랫폼 서비스와 거리가 멀지만, 우리를 필요로 하는 사람들을 위해 작거나 큰 문제를 꾸준히 해결해 나아가고 있습니다.
  br
  include navigation